<tr>
    <th class="text-center">{book_no}</th>
    <td class="text-center">{id}</td>
    <td class="text-center">{title}</td>
    <td class="text-center">{remaining}</td>
    <td class="text-center">{lent}</td>
    <td class="container-fluid d-flex">
        <div class="flex-fill text-center">
            <form action="book_info_page.php" method="GET">
                <button name="id" type="submit" class="btn btn-sm btn-primary" value="{id}">详情</button>
            </form>
        </div>
        <div class="flex-fill text-center">
            <button type="button" class="btn btn-sm btn-primary">修改</button>
            <!-- TODO:添加修改页面 -->
        </div>
        <div class="flex-fill text-center">
            <button type="button" class="btn btn-sm btn-danger">删除</button>
            <!-- TODO:添加删除警告对话框 -->
        </div>
    </td>
</tr>
