<tr>
    <th class="text-center">{number}</th>
    <td class="text-center">{id}</td>
    <td class="text-center">{name}</td>
    <td class="text-center">{account}</td>
    <td class="text-center">{password}</td>
    <td class="text-center">
        <i class="fa fa-close" style="color: {online} !important;"></i>
    </td>
    <td class="container-fluid d-flex">
        <div class="flex-fill text-center">
            <form action="user_info_page.php" method="GET">
                <button name="id" type="submit" class="btn btn-sm btn-primary" value="{id}">详情</button>
            </form>
        </div>
        <div class="flex-fill text-center">
            <button type="button" class="btn btn-sm btn-primary">修改</button>
            <!-- TODO:添加修改Model -->
        </div>
        <div class="flex-fill text-center">
            <button type="button" class="btn btn-sm btn-danger">删除</button>
            <!-- TODO:添加删除警告对话框 -->
        </div>
    </td>
</tr>
